	<div class="container">
	
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<div  class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div class="dropdown">
						<a a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu</a>
							<ul class="dropdown-menu">
								<li class="active-link"><a href="index">Home</a></li>
								<li><a href="parents">Tutees and Parents</a></li>
								<li><a href="tutors">Our Tutors</a></li>
								<li><a href="register">Register</a></li>
							</ul>
					</div>
				</div> 
			</div>

			   <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
			  <ul class="nav navbar-nav nav-tabs">
				<li class= "active-link"> <a href="index" data-toggle="tab">Home</a></li>
				<li><a href="parents" data-toggle="tab">Tutees and Parents</a></li>
				<li><a href="tutors" data-toggle="tab">Our Tutors</a></li>	
				<li><a href="register" data-toggle="tab">Register</a></li>
			  </ul>
			  
			</div>
		</nav>
  
		<div class="row">
			<div class="col-md-4">
				<div class="main_heading">
					<p>Guernsey
					<br>Tutors</p>
				</div>
			</div>
			<div class="col-md-8">
				<div class="main-text">
					<h2>Providing first class tutoring across a range of subjects and abilities</h2>
					<ul>
						<br>
						<li>We can help students achieve top grades.</li>
						
						<li>Our team of young, enthusiastic tutors give a new perspective on the syllabus.</li>
						
						<li>We understand the stress of exams, and where students can get confused.</li>
						
						<li>One-on-one tuition provides unparalleled learning compared to a busy classroom.</li>
						
						<li>Our tutors are intelligent and high achieving, and all achieved outstanding A level grades.</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="feedback">
			
			<div class="row">
				<h3>Feedback:<h3>
			</div>
		
			<div class="row">
				<div class="col-md-4">
					<blockquote>"ashgfddghgfdghgfdsfg</blockquote>
					<br>Sam Corbet, A Level Maths
				</div>
				
				<div class="col-md-4">
					<blockquote>"ashgfddghgfdghgfdsfg</blockquote>
					<br>Steffi Johns, GCSE Physics
				</div>	
				
				<div class="col-md-4">
					<blockquote>"Friendly maths tutoring made simple!"</blockquote>
					<br>Gavin Fitch, AS level Maths
				</div>
			</div>
		</div>	
	</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="myscript.js"></script> 
		
</body>
</html>
