
body {
	font-size: 18px;
	font-family:"calibri";
	font-style:bold;
	background-color:white; 
	font-variant: small-caps;
	background-image:url("images/graduation.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size: 100% 100% 
}

.container{
	width:70%;
	background-color:rgba(200,200,200,0.9);
	border-style:ridge;
	border-width:4px;
	border-color:rgba(200,200,200,0.8);
	margin-top: 20px
}

.active-link{
font-weight:bold;
background-color:transparent;
}

.dropdown-menu.a:link {color:white;text-decoration:none;font-variant: none;} 
.dropdown-menu.a:visited {color:gray;text-decoration:none;}  /* visited link */
.dropdown-menu.a:hover {color:white; text-decoration:bold; font-weight:bold;}  /* mouse over link */
.dropdown-menu.a:active {color:white;text-decoration:none; font-weight:bold;}  /* selected link */
	
	a:link {color:gray;text-decoration:none;font-variant: small-caps;}      /* unvisited link */
	a:visited {color:gray;text-decoration:none;}  /* visited link */
	a:hover {color:gray; text-decoration:none; font-weight:bold;}  /* mouse over link */
	a:active {color:#000; font-weight:bold;}  /* selected link */	

.main_heading{
	height:auto;
	font-weight:bold;
	font-size:40px;
	position: inline;
	padding:0px 0px 0px 0px;
	text-align: left;
	margin-bottom: 0px;
	color: black;
	}

h3{
	padding:0px;
	margin:0px;
	border:0px;
	}
	
.main-text{
	background-color:rgba(140,140,140,0.8);
	border-radius:10px;
	padding:20px 20px;
	margin:20px 20px;
	/*font-variant:normal;*/
	font-size:20px;
	}

#feedback{
padding:40px 40px;
}

blockquote{
-webkit-margin-start: 0px;
margin-bottom:0px;
padding-bottom:0px;
border-bottom:0px;
border-left-color: rgb(138, 138, 138);
}

.parent-text.a:link {color:black;text-decoration:bold;font-variant: small-caps;}  

.img-responsive{
max-width:60%;
float:right;
}


li.active-link{
	background-color: transparent;
}

hr{
    padding: 10px 10px;
    border: none;
    border-top: medium double;
    color: black;
    text-align: center;
}

.tutor_table{
	border-collapse: collapse;
	border-spacing: 5px;
	margin: 10px 10px;
}
.tutor_table.th{
	border-right-style: solid;
	border-right: 2px;
	width:100px;
}

td,th{
	padding-right: 50px;
}

.form-inline{
	padding:40px;
}

.answer-block{
	padding-left: 40px;
}

.form-inline{
	padding-left:40px;
	padding-right: 40px;
}